<script type="text/javascript">

  (function() {
    const questions = <%- JSON.stringify(questions) %>;

    // load questions into questionsBody
    function loadQuestion() {
      const questionsBody = []; // consisted by question body and all options
      questions.forEach((curQuestion, questionNumber) => {
        const options = [];
        for(letter in curQuestion.options) {
          // push options
          options.push(
            `<label>
              <input type="radio" name="question${questionNumber}" value="${letter}">
              ${letter} :
              ${curQuestion.options[letter]}
            </label>`
          );
        }

        // push question body and options
        questionsBody.push(
          `<div class="slide">
            <div class="question"> ${curQuestion.question} </div>
            <div class="options"> ${options.join("")} </div>
          </div>`
        );
      });

      questionContainer.innerHTML = questionsBody.join("");
    }

    // show questions
    function showSlide(n) {
      slides[curSlide].classList.remove("active-slide");
      slides[n].classList.add("active-slide");
      curSlide = n;

      if (curSlide === 0) {
        backButton.style.display = "none";
      } else {
        backButton.style.display = "inline-block";
      }

      if (curSlide === slides.length - 1) {
        nextButton.style.display = "none";
        submitButton.style.display = "inline-block";
      } else {
        nextButton.style.display = "inline-block";
        submitButton.style.display = "none";
      }
    }

    function showNextSlide() {
      showSlide(curSlide + 1);
    }

    function showPreviousSlide() {
      showSlide(curSlide - 1);
    }

    // get elements
    const questionContainer = document.getElementById("question_title");
    const submitButton = document.getElementById("submit");

    loadQuestion();

    const backButton = document.getElementById("back");
    const nextButton = document.getElementById("next");
    const slides = document.querySelectorAll(".slide");
    let curSlide = 0;

    showSlide(0);

    backButton.addEventListener("click", showPreviousSlide);
    nextButton.addEventListener("click", showNextSlide);

  })();

</script>
