<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<title>Learn2Smart</title>
  	<meta name="description" content="Intelligent Diagnosis and Learning Open Platform" />
  	<meta name="keywords" content="Intelligent Diagnosis and Learning Open Platform" />
  	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  	<link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
<body>
