<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>IDLOP</title>
    <meta name="description" content="Intelligent Diagnosis and Learning Open Platform" />
    <meta name="keywords" content="Intelligent Diagnosis and Learning Open Platform" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
  </script>
  </head>
<body>
