<%- include('header_slider') %>

<div id="main">
  <div id="menubar">
    <div id="welcome">
      <h1><a href="#">Welcome To Learn2Smart</a></h1>
    </div><!--close welcome-->
    <div id="menu_items">
      <ul id="menu">
        <li class="current"><a href="/home">Home</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div><!--close menu-->
  </div><!--close menubar-->

  <div id="site_content">
    <div id="banner_image">
      <div id="slider-wrapper">
        <div id="slider" class="nivoSlider">
          <img src="images/home_1.jpg" alt="" />
          <img src="images/home_2.jpg" alt="" />
        </div><!--close slider-->
      </div><!--close slider_wrapper-->
    </div><!--close banner_image-->

    <div id="content">
      <div class="content_item">
        <h1>Welcome To Intelligent Diagnosis and Learning Open Platform</h1>
          <p>Intelligent Diagnosis and Learning Open Platform is a learning assessment platform based on various cut-edge education assessment technologies. The company formed by professors from U.S leading colleges, education experts and IT consultants </p>
      </div><!--close content_item-->
    </div><!--close content-->


    <div id="site_content">
      <%- include('./components/notification') %>
      <form action="/home" method="post">
        <span>Email:</span>
        <input placeholder="Email" type="text" name="email"><br>
        <br>
        <input type="submit" value=" Sign In " align="center" style="width: 100px; height: 20px"><br>
      </form>
      Or<br>
      <button onClick="location.href='/signup'" style="width: 100px; height: 20px">Register Now!</button>
    </div>

<%- include('footer_slider') %>
