<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Learn2Smart</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);
    .answers label{
      display: block;
      margin-bottom: 10px;
    }
    .slide{
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.5s;
    }
    .active-slide{
      opacity: 1;
      z-index: 2;
    }
    .quiz-container{
      position: relative;
      height: 400px;
      margin-top: 40px;
    }
    .button{
      position: relative;
      top: 40px;
    }
  </style>
  <%- include('components/question_mathjax') %>
</head>

<body>
  <div id="main">
    <div id="menubar">
      <div id="welcome">
        <h1><a href="#">SAT MATH</a></h1>
      </div><!--close welcome-->
      <div id="menu_items">
        <ul id="menu">
        </ul>
      </div><!--close menu-->
    </div><!--close menubar-->

    <div id="site_content">
      <div id="content">
        <div class="content_item">
          <table width="768" cellpadding="0" cellspacing="1" border="0" bgcolor="#FFFFFF" id="mainTable">
            <tr>
              <td>
                <div id="question_header">
                  <h4 id="question_title"></h4>
                </div>
                <div class="quiz-container">
                  <div id="quiz"></div>
                </div>
                <button id="previous">Back</button>
                <button id="next">Next</button>
                <button id="submit">Submit</button>
                <div id="results"></div>
              </td>
            </tr>
          </table>
        </div><!--close content_container-->
      </div><!--close content_item-->
    </div><!--close content-->
  </div>

  <script type="text/javascript">
    (function() {
      const myQuestions = <%- JSON.stringify(questions) %>;

      function buildQuiz() {
        const output = [];

        myQuestions.forEach((currentQuestion, questionNumber) => {
          const answers = [];

          for (letter in currentQuestion.options) {
            answers.push(
              `<label>
                 <input type="radio" name="question${questionNumber}" value="${letter}">${letter} : ${currentQuestion.options[letter]}
               </label>`
            );
          }

          output.push(
            `<div class="slide">
               <div class="question"> ${currentQuestion.question} </div><br>
               <div class="answers"> ${answers.join("")} </div>
             </div>`
          );
        });

        quizContainer.innerHTML = output.join("");
      }

      function showResults() {
        // gather answer containers from our quiz
        const answerContainers = quizContainer.querySelectorAll(".answers");

        // keep track of user's answers
        let numCorrect = 0;

        // for each question...
        myQuestions.forEach((currentQuestion, questionNumber) => {
          // find selected answer
          const answerContainer = answerContainers[questionNumber];
          const selector = `input[name=question${questionNumber}]:checked`;
          const userAnswer = (answerContainer.querySelector(selector) || {}).value;

          // if answer is correct
          if (userAnswer === currentQuestion.correct_answer) {
            // add to the number of correct answers
            numCorrect++;

            // color the answers green
            answerContainers[questionNumber].style.color = "lightgreen";
          } else {
            // if answer is wrong or blank
            // color the answers red
            answerContainers[questionNumber].style.color = "red";
          }
        });

        // show number of correct answers out of total
        resultsContainer.innerHTML = `correct: ${numCorrect} / ${myQuestions.length}`;
      }

      function showSlide(n) {
        slides[currentSlide].classList.remove("active-slide");
        slides[n].classList.add("active-slide");
        currentSlide = n;

        if (currentSlide === 0) {
          previousButton.style.display = "none";
        } else {
          previousButton.style.display = "inline-block";
        }

        if (currentSlide === slides.length - 1) {
          nextButton.style.display = "none";
          submitButton.style.display = "inline-block";
        } else {
          nextButton.style.display = "inline-block";
          submitButton.style.display = "none";
        }
      }

      function showNextSlide() {
        showSlide(currentSlide + 1);
      }

      function showPreviousSlide() {
        showSlide(currentSlide - 1);
      }

      const quizContainer = document.getElementById("quiz");
      const resultsContainer = document.getElementById("results");
      const submitButton = document.getElementById("submit");

      // display quiz right away
      buildQuiz();

      const previousButton = document.getElementById("previous");
      const nextButton = document.getElementById("next");
      const slides = document.querySelectorAll(".slide");
      let currentSlide = 0;

      showSlide(0);

      // on submit, show results
      submitButton.addEventListener("click", showResults);
      previousButton.addEventListener("click", showPreviousSlide);
      nextButton.addEventListener("click", showNextSlide);
    })();
  </script>
</body>
</html>
