<%- include('header_question') %>

<div id="main">
  <div id="menubar">
    <div id="welcome">
      <h1><a href="#">SAT MATH</a></h1>
    </div><!--close welcome-->
    <div id="menu_items">
      <ul id="menu">
      </ul>
    </div><!--close menu-->
  </div><!--close menubar-->

  <div id="site_content">
    <div id="content">
      <div class="content_item">
      <h1></h1>
      <p></p>

     <table width="768" cellpadding="0" cellspacing="1" border="0" bgcolor="#FFFFFF" id="mainTable">
  <tr>
   <td>
    <div id="question_header">
      <div id="question_title"></div>
    </div>
    <button id="back">Back</button>
    <button id="next">Next</button>
    <button id="submit">Submit</button>

  <div id="results"> </div>
   </td>  </tr>
</table>


      </div><!--close content_container-->
    </div><!--close content_item-->
      </div><!--close content-->

<%- include('footer_question') %>
