<%- include('header') %>

<div id="main">
  <div id="menubar">
    <div id="welcome">
      <h1><a href="#"></a></h1>
    </div><!--close welcome-->
    <div id="menu_items">
      <ul id="menu">
        <li class="current"><a href="/home">Home</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div><!--close menu-->
  </div><!--close menubar-->

  <div id="site_content">
    <div id="content">
      <div class="content_item">
        <table width="920px" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" id="mainTable" align="center">
          <tr align="center">
            <td align="center">
              <h4 id="" align="center">Welcome to Intelligent Diagnosis and Learning Open Platform</h4>
            </td>
          </tr><!-- h4 -->

          <tr>
            <td align="center">
              <h5 id="">Please enter your personal information in the formats to sign up </h5>
            </td>
          </tr><!-- h5 -->

          <tr>
            <td>
              &nbsp;
            </td>
            <%- include('./components/notification') %>
          </tr><!-- notification -->

          <form action="/signup" method="post">
            <tr>
              <td>
                <label id="signuplabel">Email: </label>
                <input placeholder="Email" type="text" name="email">
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
            </tr>

            <tr>
              <td>
                <label id="signuplabel">First Name: </label>
                <input placeholder="First name" type="text" name="firstname">
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
            </tr>

            <tr>
              <td>
                <label id="signuplabel">Last Name: </label>
                <input placeholder="Last name" type="text" name="lastname">
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
            </tr>

            <tr>
              <td>
                <label id="signuplabel">Gender: </label>
                <select class="Gender" name="gender">
                    <option value="" selected disabled hidden>Choose Here</option>
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                    <option value="x">Other</option>
                  </select>
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
            </tr>

            <tr>
              <td>
                <label id="signuplabel">Grade: </label>
                <select class="Grade" name="grade">
                    <option value="" selected disabled hidden>Choose Here</option>
                    <option value=7>7th</option>
                    <option value=8>8th</option>
                    <option value=9>9th</option>
                    <option value=10>10th</option>
                    <option value=11>11th</option>
                    <option value=12>12th</option>
                  </select>
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
            </tr>

            <tr>
              <td>
                <label id="signuplabel">Took SAT before?: </label>
                <select class="takebefore" name="takebefore">
                    <option value="" selected disabled hidden>Choose Here</option>
                    <option value=y>Yes</option>
                    <option value=n>No</option>
                  </select>
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
            </tr>

            <tr>
              <td>
                <label id="signuplabel">If yes, when?: </label>
                <input id="taketime" type="month" name="taketime">
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
            </tr>

            <tr align="center">
              <td>
                <input type="submit" value="Sign Up">
              </td>
            </tr>
          </form>
        </table>
      </div><!--close content_container-->
    </div><!--close content_item-->
  </div><!--close content-->
</div><!-- main -->

<%- include('footer') %>
